<!DOCTYPE html>

<html>
<head>
    <title>Вход в Курсор</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="lib/mgmenu/mgmenu.css" />
    <link rel="stylesheet" asp-href-include="lib/CursorCSS/*.css" />
    <link rel="stylesheet" asp-href-include="lib/jqwidgets/jqwidgets/styles/jqx.base.css" />
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>
