@model ShopUser
@section LeftMenu{
    <a asp-controller="Journal" asp-action="Index" class="btn btn-group-vertical">Журнал за<br />сегодня</a>
    <a asp-controller="Journal" asp-action="Period" class="btn btn-group-vertical">Журнал за<br />период</a>
}

<style type="text/css">
    .cell_border {
        border: thin black solid;
        margin-top: -1px;
    }

    .jqx-grid-header {
        height: 50px !important;
    }
</style>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxcore.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxdata.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxdatatable.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxmenu.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxcalendar.js"></script>
<script asp-src-include="lib/jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
<script asp-src-include="lib/jqwidgets/globalization/localization.js"></script>


<script type="text/javascript">
    var source;
    var dataAdapter;
    $(document).ready(function () {
        SetSource();
        LoadGrid();
    });
    function SetSource() {
        source = {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'int' },
                { name: 'Destination', type: 'string' },
                { name: 'Created', type: 'string' },
                { name: 'JournalDate', type: 'date' },
                { name: 'ReturnDate', type: 'date' },
                { name: 'Purpose', type: 'string' },
                { name: 'Status', type: 'string' },
                { name: 'Transport', type: 'string' },
                { name: 'UserClosed', type: 'string' },
                { name: 'UserName', type: 'string' }
            ],
            cache: false,
            url: 'EsMVCWebJournal.asmx/GetJournalList',
            type: "POST",
            id: 'ID',
            pagesize: 50
        };
    }

    function NewTask() {
        $("#Waiting").show();
        window.location.href = "/Journal/AddJournal";
    }
    function LoadGrid() {
        var render_date = function (row, columnfield, value, defaulthtml, columnproperties) {
            var tmp_date = '';
            if (!value || value == '')
                tmp_date = '';
            else {
                tmp_date = convertTime(new Date(parseInt(value.replace('/Date(', ''))));
                if (tmp_date == '01.01.1')
                    tmp_date = '';
            }
            return '<div class=\"jqx-grid-cell-left-align\" style=\"margin-top: 13px;\">' +
                tmp_date + '</div>';
        }
        dataAdapter = new jQuery.jqx.dataAdapter(source, {
            loadServerData: function (serverdata, source, callback) {
                var postData = {};
                postData.UserName = "@Html.Raw(Model?.UserName)";
                jQuery.ajax({
                    dataType: "json",
                    type: "POST",
                    url: 'EsMVCWebJournal.asmx/GetJournalList',
                    data: postData,
                    success: function (data, status, xhr) {
                        callback({ records: data });
                    }
                });

            }

        });
        jQuery("#dataTable").jqxDataTable({
            source: dataAdapter,
            columnsResize: true,
            pageable: false,
            autoRowHeight: false,
            width: '100%',
            height: '550px',
            columns: [
                { text: 'Убыл', datafield: 'JournalDate', columntype: 'datetimeinput', align: 'center', cellsformat: 'hh:MM', cellclassname: 'cell_border', filtertype: 'date', cellsrenderer: render_date, width: '5%' },
                { text: 'Кто', datafield: 'UserName', align: 'center', cellclassname: 'cell_border', width: '15%' },
                { text: 'Пункт назначения', datafield: 'Destination', cellclassname: 'cell_border', align: 'center', width: '15%' },
                { text: 'Цель поездки', datafield: 'Purpose', align: 'center', cellclassname: 'cell_border', width: '18%' },
                { text: 'Транспорт', datafield: 'Transport', align: 'center', cellclassname: 'cell_border', width: '16%' },
                { text: 'Внесено', datafield: 'Created', align: 'center', cellclassname: 'cell_border', width: '12%' },
                { text: 'Возвращение', datafield: 'UserClosed', align: 'center', cellclassname: 'cell_border', cellsrenderer: render_actions,  width: '18%' }
            ]
        });
        }
        function convertDate(dt) {
            var dd = dt.getDate();
            var mm = dt.getMonth() + 1;
            var yyyy = dt.getFullYear();
            if (dd < 10) { dd = '0' + dd; }
            if (mm < 10) { mm = '0' + mm; }
            return dd + '.' + mm + '.' + yyyy;
        }
        function convertTime(dt) {
            var hh = dt.getHours();
            var mm = dt.getMinutes();
            if (hh < 10) { hh = '0' + hh; }
            if (mm < 10) { mm = '0' + mm; }
            return hh + ':' + mm;
        }
        var render_actions = function (row, columnfield, value, defaulthtml, columnproperties) {
            var html = '';
            if (dataAdapter.records[row].Status == 'Открыта') {
                html = '<table>';
                var action = "if(confirm('Действительно подтвердить возвращение?')){UserAction('" + dataAdapter.records[row].ID + "','SetUserReturned')};";
                html += '<tr><td><img src="lib/images/checkitems.gif"></td><td><a href="#" onclick="' + action + '">Отметить возвращение</a></td></tr>';
                action = "UpdateRecord('" + dataAdapter.records[row].ID + "');";
                html += '<tr><td><img src="lib/images/editicon.gif"></td><td><a href="#" onclick="' + action + '">Редактировать запись</a></td></tr>';
                action = "if(confirm('Действительно удалить запись?')){UserAction('" + dataAdapter.records[row].ID + "','DeleteRecord')};";
                html += '<tr><td><img src="lib/images/delete.gif"></td><td><a href="#" onclick="' + action + '">Удалить запись</a></td></tr>';
                html += '</table>';
            } else {
                html = value;
            }            
            return '<div class=\"jqx-grid-cell-left-align\" style=\"margin-top: 13px;\">' + html + '</div>';
        }
        function UserAction(id, action) {
            $("#Waiting").show();
            jQuery.ajax({
                dataType: "json",
                type: "POST",
                data: { ID: id, Action: action, CurrentUserName: "@Html.Raw(Model?.UserName)" },
                url: 'EsMVCWebJournal.asmx/RunJournalAction',
                success: function (data) {
                    $("#dataTable").jqxDataTable('updateBoundData');
                    $("#Waiting").hide();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }
        function UpdateRecord(id) {
            $("#Waiting").show();
            window.location.href = "/Journal/EditJournal/" + id;
        }
</script>
<form asp-action="GetHotLine" method="post" id="frm1">
    <div style="width:500px;">
        <img style="padding-bottom:10px;padding-left:15px" src="~/lib/images/AddIcon.png" />&nbsp;&nbsp;
        <a href="#" onclick="NewTask()" style="font-size:24px;color:#555555">Новая запись в журнал</a>
    </div>
    <div style="width:100%;text-align:center">
        <span style="font-size:18px;font-weight:bold;margin:auto">Записи в журнале</span>
    </div>
    <div id="dataTable"></div>
    <input type="hidden" id="ID" name="ID" />
    <input type="hidden" id="CurrentUserName" name="CurrentUserName" value="@Model?.UserName" />
</form>



